body {
    min-height: 100vh;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.login-page, .registration-page {
    min-height: 100vh;
    background: #323232 url("./assets/login-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    align-items: center;
}

.logo_page--login, .logo_page--registration {
    margin-right: 200px;
}

.login__form, .registration__form {
    display: flex;
    flex-direction: column;

    background: #fff;
    padding: 40px 60px;
}

.form__title {
    font-size: 36px;
    font-width: bold;
    margin-bottom: 20px;
}

.form__subtitle {
    font-size: 14px;
    font-width: normal;
    color: #505050;
    margin-bottom: 30px;
}

.form__link {
    border: none;
    background: none;
    color: #1473e6;
    cursor: pointer;
    text-decoration: none;
    padding-left: 5px;
}

.form__field {
    font-size: 14px;
    display: flex;
    flex-direction: column;
    color: #505050;
    margin-bottom: 30px;
}

.form__field .row {
    justify-content: space-between;
}

.form__field .col {
    width: calc(50% - 20px);
}

.form__field:last-child {
    margin-bottom: 0;
}

.form__input {
    border: none;
    border-bottom: 1px solid #505050;
    padding: 5px 0;
    width: 100%;
}

.form__input:focus {
    outline: none;
    border-bottom-color: #1473e6;
}

.form__btn {
    text-align: right;
}

.btn {
    font-size: 18px;
    background: #ffc617;
    padding: 10px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

