body {
    height: 100vh;
    overflow: hidden;
}

@media screen and (max-width: 480px) {
    body {
        overflow: auto;
    }
}

#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    height: 100%;
    flex: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: auto;
}

.login-page, .registration-page {
    min-height: 100vh;
    background: #323232 url("./assets/login-bg.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    display: flex;
    align-items: center;
}

.logo_page--login, .logo_page--registration {
    margin-right: 200px;
}

.login__form, .registration__form {
    display: flex;
    flex-direction: column;

    background: #fff;
    padding: 40px 60px;
}

.form__title {
    font-size: 36px;
    font-width: bold;
    margin-bottom: 20px;
}

.form__subtitle {
    font-size: 14px;
    font-width: normal;
    color: #505050;
    margin-bottom: 30px;
}

.form__link {
    border: none;
    background: none;
    color: #1473e6;
    cursor: pointer;
    text-decoration: none;
    padding-left: 5px;
}

.form__btn {
    text-align: right;
}

/* order form */
.order__form {
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 40px 50px;
    background: #fff;
    width: 480px;
}

@media screen and (max-width: 480px) {
    .order__form {
        left: 0;
        right: 0;
        width: 100%;
    }
}

.form__field-wrapper {
    padding-left: 30px;
    margin-bottom: 30px;
    position: relative;
}

.form__field-wrapper::before {
    content: "";
    height: 80px;
    border-left: 2px dashed #ccc;
    position: absolute;
    left: 0;
    top: 20px;
}

.form__field-from::before {
    content: "";
    background: url("./assets/order-round.png") no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    left: -41px;
    top: 10px;
}

.form__field-to::before {
    content: "";
    background: url("./assets/order-mark.png") no-repeat;
    width: 22px;
    height: 27px;
    position: absolute;
    left: -40px;
    top: 10px;
}
/* profile form */
.profile__form {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 70px;
    background: #fff;
    width: 945px;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-align: center;
    border-radius: 3px;
}

.row-profile {
    justify-content: space-between;
    margin-bottom: 40px;
}

.card-field {
    padding: 40px 30px 30px 30px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    width: calc(100% /2 - 15px);
    position: relative;
}

.form__btn-center {
    text-align: center;
}

.form__field label {
    text-align: left;
}

.form__field_width--small {
    width: 30%;
}

@media screen and (max-width: 480px) {
    .profile__form {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        transform: translate(0, 0);
        padding: 20px;
    }

    .card-field {
        width: 100%;
        margin-bottom: 20px;
    }
}

.mclogo {
    position: absolute;
    top: 10px;
    right: 25px;
}

.label-hidden-field {
    display: inline-block;
    width: 14px;
    height: 14px;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-size: 9px;
    text-align: center;
    vertical-align: top;
    position: relative;
    top: 2px;
}

.label-hidden-field:hover::before {
    content: "3 последние цифры на оборотной стороне карты";
    padding: 10px;
    background: #fff;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    position: absolute;
    top: 200%;
    width: 200px;
    font-size: 14px;
    margin-left: -100px;
    color: #2d2d2d
}

.fake-map {
    height: 100%;
    background: url(./assets/map.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-width: 480px) {
    .login-page .row, .registration-page .row {
        justify-content: center;
    }

    .logo_page--login, .logo_page--registration {
        margin-right: 0;
        margin-bottom: 40px;
    }

    .registration-page .form__field .row {
        justify-content: space-between;
    }

    .form__btn {
        text-align: center;
    }
}




